/* Estilos utilitários apenas para destacar o Grid durante as aulas */
.demo-box {
  background-color: #70a2ec;
  color: #000000;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0.375rem;
  font-weight: bold;
}

.demo-box-alt {
  background-color: #70a2ec;
  color: #080808;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0.375rem;
  font-weight: bold;
}
